/* SCSS RGB */
$alice-blue: rgba(231, 236, 239, 1);
$yale-blue: rgba(39, 76, 119, 1);
$yale-blue-75: rgba(39, 76, 119, .75);
$yale-blue-55: rgba(39, 76, 119, .55);
$cerulean-frost: rgba(96, 150, 186, 1);
$cerulean-frost-20: rgba(96, 150, 186, .2);
$baby-blue-eyes: rgba(163, 206, 241, 1);
$baby-blue-eyes-30: rgba(163, 206, 241, .3);
$battleship-grey: rgba(139, 140, 137, 1);

$font-size: 1rem;
$font-family: 'Inter', sans-serif;
$background-color: $alice-blue;
$font-color: $yale-blue;
$max-page-width: 900px;

$body-top-margin: 7rem;

$bold: 800;
